Language: Cpp
Standard: Latest

IndentCaseLabels: true
IndentWidth: 4
UseTab: Never

PointerAlignment: Left
MaxEmptyLinesToKeep: 2
ColumnLimit: 80

BreakTemplateDeclarations: Yes

ShortNamespaceLines: 0
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: InlineOnly
